@charset "utf-8";
#yazi{
	text-align:center;}

#logo{
	float:left;
	margin-top:-60px;
}
#menu{
	width:100%;
	height:45px;
	background-image:url(men%C3%BC.fw.png);
	float:left;
	margin-left:90px;
	margin-top:-60px;
}
#menu li{
	color:#C13540;
	list-style-type:none;
	float:left;
	margin-left:100px;
	line-height:40px;
}
#menu li a{
	text-decoration:none;
	color:#C13540;
	font-weight:bold;
}
#menu ul{
	margin:0px;
	padding:0px;
}
#box {
	margin-left:150px;
max-width:200px;
position:relative;
}
#box .fa-search {
position: absolute;
top: 14px;
left: 12px;
font-size: 20px;
color:#C13540;
}
#search {
width:100px;
height:40px;
margin-top:3px;
box-sizing: border-box;
border: 2px solid #C13540;
border-radius: 4px;
font-size:18px;
padding: 12px 20px 12px 40px;
}
#search:focus {
width: 100%;
}
.yazi{
	text-align:center;
	color:black;
	}
.yazi a{
	text-decoration:none;}
#arka{
	width:100%;
	background-color:black;
	height:300px;
	width:100%;
	color:#FFF;}
.icon{
	font-size:50px;
	margin-left:100px;
	margin-top:50px;
	float:left;
	}
	
.iconyazi{
	padding-top:50px;
	padding-left:170px;
	}
	
.icon2{
	margin-left:600px;
	margin-top:-168px;
	float:left;
	}
.iconyazi2{
	margin-top:-220px;
	padding-left:665px;
	}

.iconlar{
	font-size:30px;
	color:#FFF;
	margin-top:50px;
	}
